In [39]:
import requests #Used to service API connection
from lxml import html #Used to parse XML
from bs4 import BeautifulSoup #Used to read XML table on webpage
import pandas as pd
from common import cFunction as cf
import numpy as np
import wget
import datetime as dt
# from tabula import read_pdf

In [40]:
dataList = pd.read_csv("https://docs.google.com/spreadsheets/d/1VngqG-m7G8k1587c21MZoheR1Fz3amp1mJtiBvA1Jb0/export?format=csv&gid=0")
print("### The total number of target data is " + str(len(dataList)))

### The total number of target data is 417

In [41]:
dataList = dataList[   dataList['제공항목(데이터셋)'] == '한국감정원 주택거래 현황' ]
dataList

,번호,접속 사이트,제공항목(데이터셋),폴더명,작업자,시작일,종료일,검토자,진행상태,비고,...,파라미터,제공방식.1,데이터타입,참고문서,참고문서타입,주기,비고_파라미터설명,완료여부,API PGM ID,파일명
353,354,공공데이터포털,한국감정원 주택거래 현황,353_한국감정원 주택거래 현황,이신우,NaN,NaN,NaN,NaN,NaN,...,startmonth=시작날&endmonth=끝날&region=지역코드,api,xml,NaN,NaN,NaN,1&201903&30000,"353 중복, 20190419 삭제",TB_OD10353.py,TB_OD10353_yyyymm.csv
354,355,공공데이터포털,한국감정원 주택거래 현황,354_한국감정원 주택거래 현황,NaN,NaN,NaN,NaN,NaN,NaN,...,startmonth=201901&endmonth=201903&region=19000,api,xml,https://www.data.go.kr/comm/file/download.do?a...,NaN,NaN,201901&201903&48000,완료,TB_OD10354.py,TB_OD10354_yyyymm.csv

In [42]:
dataList = dataList.fillna("")
dataList = dataList.reset_index(drop=True)
dataList

,번호,접속 사이트,제공항목(데이터셋),폴더명,작업자,시작일,종료일,검토자,진행상태,비고,...,파라미터,제공방식.1,데이터타입,참고문서,참고문서타입,주기,비고_파라미터설명,완료여부,API PGM ID,파일명
0,354,공공데이터포털,한국감정원 주택거래 현황,353_한국감정원 주택거래 현황,이신우,,,,,,...,startmonth=시작날&endmonth=끝날&region=지역코드,api,xml,,,,1&201903&30000,"353 중복, 20190419 삭제",TB_OD10353.py,TB_OD10353_yyyymm.csv
1,355,공공데이터포털,한국감정원 주택거래 현황,354_한국감정원 주택거래 현황,,,,,,,...,startmonth=201901&endmonth=201903&region=19000,api,xml,https://www.data.go.kr/comm/file/download.do?a...,,,201901&201903&48000,완료,TB_OD10354.py,TB_OD10354_yyyymm.csv

In [46]:
inputUrl = dataList.loc[0, "사이트"]
inputKey = dataList.loc[0, "서비스키"]
inputParameter = dataList.loc[0, "파라미터"]
inputFolder = dataList.loc[0, "폴더명"]
inputFile = dataList.loc[0, "서비스명"]
inputDataType = dataList.loc[0, "데이터타입"]
inputRefUrl = dataList.loc[0, "참고문서"]
inputRefType = dataList.loc[0, "참고문서타입"]
newParameter= dataList.loc[0, "비고_파라미터설명"] ## 비고_파라미터설명 에 입력하면 그 값을 출력하기 위해

In [47]:
def good(inputParameter):    

    aa = (inputParameter.split('&')[0]).split('=')[1]  ## 파라미터에 startmonth=00&endmonth=11&region=22
    bb = (inputParameter.split('&')[1]).split('=')[1]  ## 해당 00 11 22 에 추출할 시작,끝,지역코드를
    cc = (inputParameter.split('&')[2]).split('=')[1]  ## 비고_파라미터설명 에 입력하면
    newParameter                                       ## 그걸 처리해주는 함수
    ffff = (newParameter.split('&'))
    aaaaa = inputParameter.replace(aa,ffff[0]).replace(bb,ffff[1]).replace(cc,"")
    inputParameter=aaaaa
    
    return inputParameter

In [48]:
inputParameter=good(inputParameter)
inputParameter

'startmonth=1&endmonth=201903&region='

In [49]:
url = cf.makeURL(inputUrl,inputKey,inputParameter)
print("fullUrl is " + url)

fullUrl is http://openapi.kab.co.kr/OpenAPI_ToolInstallPackage/service/rest/AptTradingStateSvc/getAptTrdStateCaseOfNbr?&serviceKey=aiaNgZ3r3nPeUj5%2FKuJ10ZNRmyePXavavOu8RZwO%2F84LnOn5KxhWa1%2F5nwxk0Y4M10W0fjCK1SksOQeQsdMu6A%3D%3D&startmonth=1&endmonth=201903&region=

In [50]:
regionCodeData = pd.read_csv("./RegionCode.csv")
regionCode = list(regionCodeData["코드"])

fisrtCount = True
for j in regionCode :
    fullUrl =  url + str(j)
    inputDataType = "xml"
    newDF = pd.DataFrame()
    if (inputDataType == "xml"):
        newDF = cf.xmlProcess(fullUrl)
    elif(inputDataType == "json"):
         newDF = cf.jsonProcess(fullUrl)
    elif(inputDataType == "csv"):
        newDF = cf.csvProcess(fullUrl)
    if (len(newDF) ==0) :
        continue
    count = len(newDF.loc[0,"rsRow"].split("|"))

    for i in  range (0, count) :
        newDF[(newDF.loc[0,"rsRow"].split("|")[i]).split(",")[0]] = (newDF.loc[0,"rsRow"].split("|")[i]).split(",")[1]
    del newDF["rsRow"]

    if(fisrtCount == True) :
        mergedata = newDF
        fisrtCount = False
    else :
        mergedata = pd.concat([mergedata, newDF], axis=0)

  regionCd regionNm                                              rsRow
0    11000       서울  200601,7704|200602,12717|200603,17419|200604,1...
  regionCd regionNm                                              rsRow
0    26000       부산  200601,4592|200602,6064|200603,6482|200604,583...
  regionCd regionNm                                              rsRow
0    27000       대구  200601,3684|200602,4797|200603,4925|200604,437...
  regionCd regionNm                                              rsRow
0    28000       인천  200601,2143|200602,3948|200603,4482|200604,413...
  regionCd regionNm                                              rsRow
0    29000       광주  200601,3782|200602,3928|200603,5297|200604,444...
  regionCd regionNm                                              rsRow
0    30000       대전  200601,2112|200602,3072|200603,5838|200604,312...
  regionCd regionNm                                              rsRow
0    31000       울산  200601,1435|200602,2388|200603,2531|200604,247...
  regionCd regionNm                                              rsRow
0    41000       경기  200601,17630|200602,20561|200603,28400|200604,...
  regionCd regionNm                                              rsRow
0    42000       강원  200601,1982|200602,2690|200603,3307|200604,222...
  regionCd regionNm                                              rsRow
0    43000       충북  200601,1383|200602,3003|200603,2964|200604,180...
  regionCd regionNm                                              rsRow
0    44000       충남  200601,2558|200602,3501|200603,4268|200604,357...
  regionCd regionNm                                              rsRow
0    45000       전북  200601,2021|200602,2375|200603,2668|200604,291...
  regionCd regionNm                                              rsRow
0    46000       전남  200601,780|200602,1134|200603,1803|200604,1650...
  regionCd regionNm                                              rsRow
0    47000       경북  200601,4010|200602,4680|200603,4286|200604,397...
  regionCd regionNm                                              rsRow
0    48000       경남  200601,4897|200602,4950|200603,4766|200604,445...
  regionCd regionNm                                              rsRow
0    50000       제주  200607,124|200608,135|200609,277|200610,317|20...

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:27: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [53]:
groupKey = ["regionCd", "regionNm"]

newMergedata = pd.melt(mergedata, id_vars= groupKey, var_name = 'YEARMONTH', value_name="volume")
finalData = newMergedata.sort_values(["regionCd", "regionNm"]).reset_index(drop=True)
finalData.head()

  regionCd regionNm YEARMONTH volume
0    11000       서울    200601   7704
1    11000       서울    200602  12717
2    11000       서울    200603  17419
3    11000       서울    200604  14919
4    11000       서울    200605  16277

In [54]:
if(newParameter.split('&')[2] != "") :
    finalData = finalData[finalData.regionCd == newParameter.split('&')[2]].reset_index(drop=True)
finalData.head()

  regionCd regionNm YEARMONTH volume
0    30000       대전    200601   2112
1    30000       대전    200602   3072
2    30000       대전    200603   5838
3    30000       대전    200604   3123
4    30000       대전    200605   2219

In [18]:
mergedata.to_csv("./test2.csv", index=False, encoding="ms949")