In [38]:
def preWeek(inputYearWeek, GapWeek):   ## 함수의 인자값 2개 설정, 아래 주석 설명을 위해 201720 , 40 이라고 예를들고 시작.
    
    if type(GapWeek) == str:     ## GapWeek 의 타입이 스트링값이라면? 아래로 내려감 스트링값이 아니면 신경안써도 되고~
        
        GapWeek = int(GapWeek)   ## 해당 GapWeek 값이 스트링이니까 int 형으로 형변환해주고 GapWeek 라는 변수에 담음
        
    strYearWeek = str(inputYearWeek) ## inputYearWeek(201720) 을 스트링 값으로 형변환 해주고 strYearWeek 라는 변수에 담음
                                     ## 왜나하면 ex) inputYearWeek 이 201720 라고 하면 2017 과 20 을 따로 계산해 줘야 하기 때문임
    currYear = strYearWeek[:4]       ## 2017에 해당하는 부분을 가져오기 위해 설정하고(앞에서부터 4칸의 값) currYear 라는 변수에 담음
    
    intCurrYear = int(currYear)      ## 현재 스트링 값인 currYear 를 int 형으로 형변환 하고 intCurrYear 에 담아줌. intCurrYear 이제 int형
    
    currWeek = strYearWeek[4:]  ## [-2:] , 201720의 뒤에 20 이라는 부분도 잘라서 currWeek 변수에 담아줌. 아직 스트링값임. 
    
    intCurrWeek = int(currWeek)   ## 스트링 값인 currWeek 을 int 형으로 형변환 이후 intCurrWeek 라는 변수에 담아줌. intCurrWeek 이제 int형
    
    while intCurrWeek <= GapWeek: ## 인자값이 201720 과 40 이 들어왔다면, 현재 intCurrWeek 는 20 이고 GapWeek 는 40 이기때문에 while문 실행
        
        intCurrYear -= 1  ## 2017년20주에서 40주를 뺀다고 하면, 년도는 2016년이 되고 GapWeek 40에서 intCurrWeek 20주를 빼줘야 하기 때문에
                          ## intCurrYear 즉, 2017년 -1을 해줌.
        GapWeek -= intCurrWeek  ## GapWeek 40주에서 intCurrWeek 20주를 빼주고 그걸 GapWeek 다시 담음. GapWeek는 지금 20임.
        
        intCurrWeek = Week.last_week_of_year(intCurrYear).week ## 2016년의 마지막주가 몇주인지 확인해서 그걸 intCurrWeek 에 담아줌
                                                               ## 위에서 GapWeek 40주에서 intCurrWeek 20주를 빼줫기 때문에 
                                                               ## 201720 -> 2016(2016년이 몇주인지.) 를 알아야 하기 때문.
                
    intCurrWeek -= GapWeek  ## 위에서 구해진 intCurrWeek 에서 GapWeek 를 다시 빼주면 GapWeek는 0 이 될테고, intCurrWeek 최종값이 결정됨.                                        
    
    year = str(intCurrYear) ## intCurrYear 을 다시 스트링값으로 형변환 해주고(2017 과 20 을 잘라서 진행하고, 마지막엔 다시 합쳐야 해서) 
                            ## 형변환 해준 intCurrYear 를 year 변수에 담음 
        
    if intCurrWeek< 10:     ## 예외처리임 intCurrWeek 가 한자리 숫자면 앞에 0이 없이 출력되기 때문.
                            ## ex) 201703 처럼 3주면 03이라고 나와야하는데 그냥 3이 나와서 20173 이라고 출력되기때문에 앞에 0을 붙여줌
        week = '0' + str(intCurrWeek)
        
    else:week = str(intCurrWeek)  ## 최종적으로 나온 intCurrWeek 도 intCurrYear(년도) 와 합쳐주기 위해 다시 스트링값으로 변환 후
                                  ## week 변수에 담음

    return year + week  ## 해당 스트랑값인 year 와 week 합쳐줌

In [39]:
from isoweek import Week

In [40]:
currYear = 2017

In [41]:
Week.last_week_of_year(currYear).week

52

In [42]:
Week.last_week_of_year(2016).year

2016

preWeek(문자열, 정수) = -

In [43]:
preWeek(201720, 124)

'201501'

In [44]:
preWeek(201720, 40)

'201632'

In [45]:
preWeek(201720, '99')

'201526'

In [46]:
가 = 100

In [47]:
가

100

In [39]:
import pandas as pd

In [40]:
from sqlalchemy import create_engine

In [41]:
engine_maria = create_engine('mysql+pymysql://kopo:kopo@13.209.112.251:3306/kopo')  ## 마리아서버 접속 엔진을 만들어서

engine_postgre = create_engine('postgresql://haiteam:haiteam@13.209.112.251:5432/postgres')

selloutData = pd.read_sql_query('SELECT * FROM kopo_product_volume', engine_maria)

resultname = 'kopo_product_volume_이신우'   ## postgre 는 테이블 만들면 다 소문자로 바꿔버림
                                            ## maria db 는 
                                            ## oracle 은 다 대문자로?
selloutData.to_sql(resultname, engine_postgre, if_exists='replace', index=False)  ## 저장할엔진 engine_postgre 라는것

selloutData

    regionid productgroup yearweek     volume
0        A01       ST0002   201512   151750.0
1        A01       ST0001   201520   645626.0
2        A01       ST0002   201520   125863.0
3        A01       ST0001   201515   810144.0
4        A01       ST0002   201515   128999.0
5        A01       ST0001   201518   671464.0
6        A01       ST0002   201518   134467.0
7        A01       ST0001   201513   470040.0
8        A01       ST0002   201513   140297.0
9        A01       ST0001   201511   524787.0
10       A01       ST0002   201511   145509.0
11       A01       ST0001   201516   764927.0
12       A01       ST0002   201516   140313.0
13       A01       ST0001   201519   682757.0
14       A01       ST0002   201519   128668.0
15       A01       ST0001   201514   428195.0
16       A01       ST0002   201514   137488.0
17       A01       ST0001   201512   486509.0
18       A01       ST0001   201517   697502.0
19       A01       ST0002   201517   127163.0
20       A01       ST0001   201507   620392.0
21       A01       ST0002   201507   146476.0
22       A01       ST0001   201510   511679.0
23       A01       ST0002   201510   153152.0
24       A01       ST0001   201502   438251.0
25       A01       ST0002   201502   123875.0
26       A01       ST0001   201505   482381.0
27       A01       ST0002   201505   180516.0
28       A01       ST0001   201508   571781.0
29       A01       ST0002   201508   156772.0
..       ...          ...      ...        ...
180      A01       ST0001   201635   732598.0
181      A01       ST0002   201635   229962.0
182      A01       ST0001   201633   748038.0
183      A01       ST0002   201633   201557.0
184      A01       ST0001   201631   832400.0
185      A01       ST0002   201631   179630.0
186      A01       ST0001   201629   809554.0
187      A01       ST0002   201629   163171.0
188      A01       ST0001   201627   798282.0
189      A01       ST0002   201627   188335.0
190      A01       ST0001   201634   711380.0
191      A01       ST0002   201634   181811.0
192      A01       ST0001   201632   774620.0
193      A01       ST0002   201632   215174.0
194      A01       ST0001   201648   873341.0
195      A01       ST0002   201648   711806.0
196      A01       ST0001   201646   630040.0
197      A01       ST0002   201646   441993.0
198      A01       ST0001   201651  1175605.0
199      A01       ST0002   201651   401602.0
200      A01       ST0001   201649   749699.0
201      A01       ST0002   201649   278487.0
202      A01       ST0001   201647  1037853.0
203      A01       ST0002   201647  1663206.0
204      A01       ST0001   201645   585098.0
205      A01       ST0002   201645   192137.0
206      A01       ST0001   201652   813749.0
207      A01       ST0002   201652   208186.0
208      A01       ST0001   201650   786380.0
209      A01       ST0002   201650   320253.0

[210 rows x 4 columns]